/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
package-lock.json
.phpstorm.meta.php
